main .bg-section-top-desktop {
    width: 100vw;
    height: 175px;
    margin-top: 135px;
    margin-bottom: -7px;
}

.container_2 .container_conteudo_1 {
    background-color: hsl(207, 100%, 98%);;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 49px;
    width: 100vw;
    
}

.container_conteudo_1 .conteudo_1 {
    width: 699px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(207, 100%, 98%);
    padding-left: 57px;
    gap: 19.9px;
}

.conteudo_1 .titulo_conteudo_1 {
    font-size: 40px;
    margin-bottom: 4px;
    color: hsl(192, 100%, 9%);
}

.conteudo_1 .text_conteudo_1 {
    font-family: 'Open Sans';
    font-size: 16px;
    width: 500px;
    line-height: 1.5;
    font-weight: 500;
    color: hsl(192, 100%, 9%);
}

.container_conteudo_1 .illustration-grow-together {
    width: 517px;
    margin-right: 114px;
}

main .bg-section-bottom-desktop-1 {
    width: 100vw;
}

.container_3 .container_conteudo_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 150px;
}

.container_conteudo_2 .illustration-flowing-conversation {
    width: 530px;
    margin-right: 75px;
}

.container_conteudo_2 .conteudo_2 {
    width: 600px;
    padding-left: 51px;
}

.conteudo_2 .titulo_conteudo_2 {
    font-size: 40px;
    padding: 14px 0 26px 8px;
    color: hsl(192, 100%, 9%);
}

.conteudo_2 .text_conteudo_2 {
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 0px 0 13px 9px;
    color: hsl(192, 100%, 9%);
}

main .bg-section-top-desktop-2 {
    width: 100vw;
    margin-top: 80px;
    margin-bottom: -7px;
}

.container_4 .container_conteudo_3 {
    background-color: hsl(207, 100%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container_conteudo_3 .conteudo_3 {
    width: 520px;
    margin-right: 35px;
    margin-top: 59px;
    margin-bottom: 35px;
    padding-left: 1px;
}

.conteudo_3 .titulo_conteudo_3 {
    font-size: 40px;
    padding-bottom: 21px;
    padding-top: 21px;
    color: hsl(192, 100%, 9%);
}

.conteudo_3 .text_conteudo_3 {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 25px;
    color: hsl(192, 100%, 9%);
}

.container_conteudo_3 .illustration-your-users {
    width: 535px;
    margin: 0 50px 0 0;
    padding-top: 43px;
}

main .bg-section-bottom-desktop {
    width: 100vw;
}